<html><head>
    <title>MR Demo - Affectiva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-ae362vOLHy2F1EfJtpMbNW0i9pNM1TP2l5O4VGYYiLJKsaejqVWibbP6BSf0UU5i" crossorigin="anonymous">

    <!-- fontawesome glyphs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sonification.js"></script>
    <script src="https://code.highcharts.com/themes/dark-unica.js"></script>
</head>

<body class="">

<nav class="navbar navbar-light bg-highlight">
    <div class="container">
        <div>
            <span class="navbar-text boldtext align-middle">Emotion Detection DEMO</span>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row" id="demo-container" style="">
        <div class="col-9">
            <br>
            <!-- Video -->
            <div class="row my-0">
                <div class="col text-center">
                    <div id="video-wrapper">
                        <video id="src_video" src="/static/videos/{{ video_id }}.mp4" style="width: 100%;"></video>
                    </div>
                </div>
            </div>
            <div class="row" id="svg-container">
                <div id="container" style="height: 300px; padding: 0 15px 0 15px; width: 100%;"></div>
            </div>
        </div>

        <div class="col-3">
            <ul class="nav nav-pills nav-justified mt-4" id="emotion-buttons" style="margin-left: 40px; margin-right: 40px;">
                <li class="nav-item" style="margin-bottom: 10px;">
                    <input type="button" onClick="playOrPauseVideo()" class="nav-link btn btn-sm btn-primary" id="Start" value="Start" />
                    <button id="sonify" class="nav-link btn btn-sm btn-success" disabled="disabled" style="margin-top: 10px;">Analyse emotion</button>
                </li>
            </ul>
        </div>

        <textarea id="flag" style="display:none;"></textarea>
        <video id="video" width="640" height="480" style="display:none"></video>
        <canvas id="canvas" width="640" height="480" style="display:none"></canvas>

        <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-box">
                            <p>Analysis Complete!</p>
                            <br>
                            <button type="button" class="btn btn-primary float-right" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alert_media" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-box">
                            <p>WebCam Alert!</p>
                            <p>Please confirm if webcam was plugged in.</p>
                            <br>
                            <button type="button" class="btn btn-primary float-right" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="summary-container" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 offset-lg-2">
                    <br>
                    <div class="card">

                        <div class="card-body">
                            <div class="tab-content" id="summaryTabContent">
                                <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Metric</th>
                                            <th class="text-right" scope="col">Your Average</th>
                                            <th class="text-right" scope="col">Ad Average</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td scope="row">Surprise</td>
                                            <td class="text-right" id="surprise">-9.6</td>
                                            <td class="text-right" id="surprise_sum">11.2</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Sadness</td>
                                            <td class="text-right" id="sadness">1.0</td>
                                            <td class="text-right" id="sadness_sum">31.2</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Happiness</td>
                                            <td class="text-right" id="happiness">69.0</td>
                                            <td class="text-right" id="happiness_sum">93.4</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Fear</td>
                                            <td class="text-right" id="fear">0.0</td>
                                            <td class="text-right" id="fear_sum">5.4</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Disgust</td>
                                            <td class="text-right" id="disgust">0.5</td>
                                            <td class="text-right" id="disgust_sum">5.5</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Anger</td>
                                            <td class="text-right" id="anger">0.6</td>
                                            <td class="text-right" id="anger_sum">3.5</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="visual" role="tabpanel" aria-labelledby="visual-tab">
                                    <!-- TODO: Fill with visuzlization of results -->
                                    <!-- <svg id="summaryGraph" width="960" height="500"></svg> -->
                                </div>
                                <div class="tab-pane fade" id="explain" role="tabpanel" aria-labelledby="explain-tab">
                                    <!-- TODO: Fill with explanation of results -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2">
                    <br>
                    <div class="row">
                        <!-- Transition Menu -->
                        <div id="toDemo" class="col text-center">
                            <a href="#" id="demoButton" class="btn btn-success">Back to Graph</a>
                            <br><br>
                            <a href="/" class="btn btn-info">New Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var video = document.getElementById('video');
        var src_video = document.getElementById('src_video');

        data_surprise = []
        data_sadness = []
        data_happiness = []
        data_fear = []
        data_disgust = []
        data_anger = []

        function playOrPauseVideo () {
            src_video.play();
            if(video.paused){
                flag.value = 'free'
                video.play();
                src_video.play();
                document.getElementById("Start").value= "Stop";
            }
            else{
                video.pause();
                src_video.pause();
                document.getElementById("Start").value = "Continue";
            }
        }

        try {
            if (navigator.mediaDevices.getUserMedia) {
                //the typical API
                navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}}).then(success).catch(error);
            } else if (navigator.webkitGetUserMedia) {
                //webkit
                navigator.webkitGetUserMedia({video: {width: 640, height: 480}}, success, error)
            } else if (navigator.mozGetUserMedia) {
                //firfox
                navigator.mozGetUserMedia({video: {width: 640, height: 480}}, success, error);
            } else if (navigator.getUserMedia) {
                //old API
                navigator.getUserMedia({video: {width: 640, height: 480}}, success, error);
            }
        } catch (err) {
            $('#alert_media').modal();
        }

        function success(stream) {
            video.srcObject = stream;
        }

        function error(error) {
            console.log(`Failed to open camera! \n${error.name}, ${error.message}`);
            $('#alert_media').modal();
        }

        video.addEventListener("timeupdate",function(){
            var time1 = new Date().getTime();
            document.getElementById('canvas').getContext('2d').drawImage(video, 0, 0, 640, 480);

            var flag = document.getElementById("flag");
            if(flag.value == 'busy'){
                return;
            }
            flag.value = 'busy'
            $.ajax({
                url: '/detection',
                type: "POST",
                data: {
                    image: document.getElementById('canvas').toDataURL('image/png')
                },
                success: function (response) {
                    console.log("aaaaaaaaa")
                    var data = JSON.parse(response);
                    if(data['emotion'] != ''){
                        data_surprise.push(parseFloat(data['Surprise']));
                        data_sadness.push(parseFloat(data['Sadness']));
                        data_happiness.push(parseFloat(data['Happiness']));
                        data_fear.push(parseFloat(data['Fear']));
                        data_disgust.push(parseFloat(data['Disgust']));
                        data_anger.push(parseFloat(data['Anger']));
                    }
                    else{
                        data_surprise = [];
                        data_sadness = [];
                        data_happiness = [];
                        data_fear = [];
                        data_disgust = [];
                        data_anger = [];
                    }
                },
                error: function (request, response) {
                    alert("Web server Error. Try again later.");
                },
                complete: function(response) {
                    flag.value = 'free'
                    var time2 = new Date().getTime();
                    console.log('process time = ', time2 - time1, 'ms');
                }
            });
        });

        src_video.addEventListener("ended", function(){
            displayChart();
            const tracks = video.srcObject.getTracks();
            tracks.forEach(function (track) {
                track.stop();
            });

            video.srcObject = null;
            document.getElementById("Start").value= "Start";

            $("#alert").modal();
            $('#sonify').removeAttr('disabled')
        })


        document.getElementById('sonify').onclick = function () {
            const surprise_sum = data_surprise.reduce((a, b) => a + b, 0)
            const surprise = surprise_sum / data_surprise.length;

            const sadness_sum = data_sadness.reduce((a, b) => a + b, 0)
            const sadness = sadness_sum / data_sadness.length;

            const happiness_sum = data_happiness.reduce((a, b) => a + b, 0)
            const happiness = happiness_sum / data_happiness.length;

            const fear_sum = data_fear.reduce((a, b) => a + b, 0)
            const fear = fear_sum / data_fear.length;

            const disgust_sum = data_disgust.reduce((a, b) => a + b, 0)
            const disgust = disgust_sum / data_disgust.length;

            const anger_sum = data_anger.reduce((a, b) => a + b, 0)
            const anger = anger_sum / data_anger.length;

            $('#surprise').text(Math.round(surprise * 10) / 10)
            $('#surprise_sum').text(Math.round(surprise_sum * 10) / 10)
            $('#sadness').text(Math.round(sadness * 10) / 10)
            $('#sadness_sum').text(Math.round(sadness_sum * 10) / 10)
            $('#happiness').text(Math.round(happiness * 10) / 10)
            $('#happiness_sum').text(Math.round(happiness_sum * 10) / 10)
            $('#fear').text(Math.round(fear * 10) / 10)
            $('#fear_sum').text(Math.round(fear_sum * 10) / 10)
            $('#disgust').text(Math.round(disgust * 10) / 10)
            $('#disgust_sum').text(Math.round(disgust_sum * 10) / 10)
            $('#anger').text(Math.round(anger * 10) / 10)
            $('#anger_sum').text(Math.round(anger_sum * 10) / 10)

            $('#demo-container').css('display', 'none');
            $('#summary-container').css('display', 'block');
        }

        document.getElementById('demoButton').onclick = function () {
            $('#summary-container').css('display', 'none');
            $('#demo-container').css('display', 'flex');
        }

        function displayChart() {
            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Emotion Analysis'
                },
                series: [
                    {
                        name: 'Surprise',
                        color: '#f4b042',
                        {#data: [1, 2, 4, 5, 7, 9, 11, 13]#}
                        data: data_surprise
                    },
                    {
                        name: 'Sadness',
                        color: '#41aff4',
                        {#data: [4, 5, 9, 5, 2, 1, 4, 6]#}
                        data: data_sadness
                    },
                    {
                        name: 'Happiness',
                        {#data: [2, 2, 2, 7, 9, 11, 13, 12]#}
                        data: data_happiness
                    },
                    {
                        name: 'Fear',
                        {#data: [2, 2, 3, 7, 11, 11, 13, 12]#}
                        data: data_fear
                    },
                    {
                        name: 'Disgust',
                        {#data: [3, 1, 2, 7, 9, 15, 13, 12]#}
                        data: data_disgust
                    },
                    {
                        name: 'Anger',
                        {#data: [1, 8, 2, 15, 9, 11, 13, 12]#}
                        data: data_anger
                    }
                ]
            });

            chart.sonify({
                duration: 7000,
                afterSeriesWait: 1000,
                order: 'sequential',
                pointPlayTime: 'x',
                instruments: [{
                    instrument: 'sineMusical',
                    instrumentMapping: {
                        duration: 200,
                        frequency: 'y',
                        volume: 0.7
                    }
                }],
                earcons: [{
                    // Define the earcon we want to play
                    earcon: new Highcharts.sonification.Earcon({
                        instruments: [{
                            instrument: 'triangleMajor',
                            playOptions: {
                                // Play a quick rising frequency
                                frequency: function (time) {
                                    return time * 1760 + 440;
                                },
                                volume: 0.3,
                                duration: 200
                            }
                        }]
                    }),
                    // Play this earcon if this point is the highest in the series.
                    condition: function (point) {
                        var series = point.series;
                        return point.y === Math.max.apply(Math, series.points.map(
                            function (p) {
                                return p.y;
                            }
                        ));
                    }
                }]
            });
        };
    </script>
</div>
</body>
</html>
